name: CI, Build and deploy

on:
  push:
    branches: [main]
    paths:
      - .github/workflows/deploy.yml
      - build.mjs
      - plugins/*/manifest.json
      - plugins/*/src/**/*.*
      - stuff/**/*.*
  workflow_dispatch:

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v2

      - uses: actions/setup-node@v4
        with:
          node-version: "21"
          cache: "pnpm"

      - run: pnpm install --frozen-lockfile

      - name: Test types
        run: pnpm testTsc

      - name: Lint
        run: pnpm lint

      - name: Styles
        run: pnpm styles
  build:
    needs: ci

    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v2

      - uses: actions/setup-node@v4
        with:
          node-version: "18"
          cache: "pnpm"

      - run: pnpm install --frozen-lockfile

      - name: Build plugins
        run: pnpm build:minify

      - name: Copy README
        run: cp README.md dist/index.md

      - uses: actions/jekyll-build-pages@v1
        with:
          source: dist
          destination: dist/_html

      - name: Upload Pages artifact
        uses: actions/upload-pages-artifact@v2
        with:
          path: dist/_html

  deploy:
    needs: build
    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v2
