name: CI, Build and deploy

on:
  push:
    branches: [main, dev]
    paths:
      - .github/workflows/deploy.yml
      - scripts/build.mjs
      - plugins/*/manifest.json
      - plugins/*/src/**/*.*
      - stuff/**/*.*
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  ci:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v2

      - uses: actions/setup-node@v4
        with:
          node-version: "21"
          cache: "pnpm"

      - run: pnpm install --frozen-lockfile

      - name: Test types
        run: pnpm testTsc

      - name: Lint
        run: pnpm lint:fix

      - name: Styles
        run: pnpm styles:fix

      - name: Publish changes
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"

          git add .

          git commit -m "chore: ci" || true

          git pull --ff-only
          git push
  build:
    needs: ci

    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v3

      - uses: actions/setup-node@v4
        with:
          node-version: "18"
          cache: "pnpm"

      - run: pnpm install --frozen-lockfile

      - name: Build plugins
        run: pnpm build

      - name: Copy README
        run: cp README.md dist/index.md

      - uses: actions/jekyll-build-pages@v1
        with:
          source: dist
          destination: dist/_html

      - name: Upload Pages artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: dist/_html

  deploy:
    needs: build
    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment-dev.outputs.page_url || steps.deployment.outputs.page_url }}

    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        if: github.ref_name == 'main'
        uses: actions/deploy-pages@v4

      - name: Deploy to GitHub Pages (dev)
        id: deployment-dev
        if: github.ref_name == 'dev'
        uses: actions/deploy-pages@v4
        with:
          token: ${{ secrets.DEV_PAGES_TOKEN }}
