name: Build and deploy

on:
  push:
    branches: [main]
    paths:
      - .github/workflows/deploy.yml
      - build.mjs
      - plugins/*/manifest.json
      - plugins/*/src/**/*.*
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        with:
          node-version: "18.x"

      - run: |
          npm install -g pnpm
          pnpm i

      - name: Build plugins
        run: "pnpm build:minify"

      - name: Copy README
        run: |
          cp README.md dist/index.md

      - uses: actions/jekyll-build-pages@v1
        with:
          source: dist
          destination: dist/_html

      - name: Upload Pages artifact
        uses: actions/upload-pages-artifact@v2
        with:
          path: dist/_html

  deploy:
    needs: build
    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v2
